%section.main-section
  %section
    .header=slide.header
    .content.vertical
      - slide.contents.each do |content|
        %div
          %pre=content
  - unless slide.teacher_notes.empty?
    %section
      .header="#{slide.header}: Teacher Notes"
      .content
        - slide.teacher_notes.each do |tn|
          %pre=tn

