%section.main-section
  %section
    .header=slide.header
    .content
      %pre= slide.contents.first
  - unless slide.teacher_notes.empty?
    %section
      .header="#{slide.header}: Teacher Notes"
      .content
        - slide.teacher_notes.each do |tn|
          %pre=tn

