!!!
- reveal_js_dir = '../site_testing/reveal.js'
%html
  %head
    %link{ rel: "stylesheet", href: "../site_testing/reveal.js/lib/css/reveal.css" }
    %link{ rel: "stylesheet", href: "../site_testing/reveal.js/lib/css/theme/white.css" }
  %body
    = yield

  %script{ src: '../site_testing/reveal.js/lib/js/head.min.js' }
  %script{ src: '../site_testing/reveal.js/lib/js/head.min.js' }
